:root {
    --color-black: #000000;
    --color-black-light: #111827;
    --color-white: #ffffff;
    --color-pacific-blue: #62B6CB;
    --color-lemon-lime: #dddf00;
    --color-gray-dark: #333333;
    --color-gray-medium: #666666;
    --color-gray: #999999;
    --color-gray-light: #f3f4f6;
    --color-gray-50: #f9fafb;
    --color-neutral-50: #fafafa;
    --color-red: #dc3545;
    --color-red-dark: #b91c1c;
    --color-red-light: rgba(237, 39, 39, 0.204);
    --color-blue: #2563eb;
    --color-blue-dark: #1f2937;
    --color-turquoise-green: #25b09b;
    --color-gray-border: #cbd5e1;
    --color-table-border: #f1f5f9;
    --color-text-dark: #1e293b;
    --color-text-medium: #334155;
    --color-text-muted: #475569;
    
    --color-loader: var(--color-turquoise-green);
    --color-background: var(--color-white);
    --color-backdrop: rgba(0, 0, 0, 0.4);
    --color-dialog-box-shadow: rgb(0 0 0 / 0.1);
    --color-table-header: var(--color-gray-50);
    --color-table-row: var(--color-gray-light);
    --color-table-row-hover: var(--color-neutral-50);
    --color-sidebar: var(--color-black-light);
	--status-active-text: #15803d;
	--status-active-bg: #dcfce7;
	--status-pending-text: #a16207;
	--status-pending-bg: #fef9c3;
	--status-disabled-text: #b91c1c;
	--status-disabled-bg: #fee2e2;
}