.input {
	display: block;
	width: 100%;
	border: none;
	outline: none;
	padding: 12px 16px;
	background: transparent;
	color: var(--color-black);
	font: inherit;
	font-size: 16px;
	font-weight: 500;
}

.input::placeholder {
  	color: var(--color-gray-light);
}