:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-pacific-blue: #62B6CB;
    --color-lemon-lime: #dddf00;

    --color-loader: #25b09b;

    --color-background: var(--color-white);

    --color-gray-dark: #333333;
    --color-gray-medium: #666666;
    --color-gray-light: #999999;

    --color-error: #dc3545;
}