.formError {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 15px;
  border: 2px solid var(--color-red);
  background-color: var(--color-white);
  color: var(--color-red);
  font-size: 14px;
  margin-top: 20px;
  transition: 1s;
  font-weight: bold;
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}