@import url("../../../kiosk/css/variables.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
 	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	background-color: var(--color-background);
	color: var(--color-gray-dark);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

